{% include "header.html" %}
<main>

{% for conf in lastst_three %}
    <article>
        <hgroup>
            <small>{{conf.date}}</small>
            <h1>{{conf.title}}</h1>
    {% if conf.taxonomy.category %}
        <h3>Category:
            {% for c in conf.taxonomy.category %}
                {{ c }}
            {% endfor %}
        </h3>
    {% else %}
        <h3></h3>
    {% endif %}

        </hgroup>
<p>
        <a href="{{ conf.url }}" role="button" class="secondary outline">READ</a>
    </p>

    {% if conf.taxonomy.tag %}
        <p>
            Tag:
        {% for tag in conf.taxonomy.tag %}
            <kbd>{{ tag }}</kbd>
        {% endfor %}
        </p>
    {% endif %}


    </article>
{% endfor %}


<article>
    <hgroup>
        <h1>Popular Tags</h1>
        <h3></h3>
    </hgroup>
        {% if tag_cloud %}
        <p>
        {% for tag in tag_cloud %}
            <kbd>{{ tag.0 }}x{{ tag.1 }}</kbd>
        {% endfor %}
        </p>
    {% endif %}
</article>

</main>

{% include "footer.html" %}